h1, p {
  margin: 5px;
}

.book-container {
  display: flex;
  flex-direction: column;
  margin: 0 32px;
}

.book {
  border: 1px solid #333;
  padding: 10px;
  margin: 5px;
}

form {
  border: 1px black;
  padding: 15px;
  margin: 5px;
}
body {
  background-color: burlywood;
}